#body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
litext-align: center    font-size: 20px:
    
}

#main-container{
    background-color: rgba(40, 40, 211, 0.952);
    height: 100vh;/*Esta medida representa el alto de la pantalla del usuario*/
    width: 100vw;/*Esta medida representa el ancho de la pantalla del usuario*/
    display: flex;/*habilito a las propiedades de disposicion*/
    flex-direction: column;/*direccion de sus hijos*/
    justify-content: space-between;/*disposicion en el contenedor*/
}

#form1{
    color: rgb(22, 14, 110);
    display: column;
    justify-content: center;
}

#form1 img{
    align="middle"
    height: 300px;
    display: block;
    justify-content: center;
    align-items: center;

}